<h1>Welcome to CSE Motors!</h1>
<%- messages() %>

    <div id="menu-button" class="menu-toggle">☰</div>

    <div class="dolerean-img-container">
        <section class="own-today-msg">
            <p>DMC Delorean</p>
            <p>3 cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <img src="/images/site/own_today.png" alt="Text Image">
        </section>

        <section class="dolerean">
            <img src="/images/vehicles/delorean.jpg" alt="Delorean Image">
        </section>
    </div>

    <h2>Dolorean Upgrades</h2>
    <div class="dolerean-reviews-container">
        <section class="dolerean-upgrades">
            <figure>
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <figcaption>Flux Capacitor</figcaption>
            </figure>

            <figure>
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                <figcaption>Flame Decals</figcaption>
            </figure>

            <figure>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                <figcaption>Bumper Stickers</figcaption>
            </figure>

            <figure>
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">
                <figcaption>Hub Cap</figcaption>
            </figure>
        </section>

        <section class="dolerean-reviews">
            <h2>DMC Dolerean Reviews</h2>
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (4/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </section>

    </div>

    <script src="/js/script.js"></script>