/* ******* Change Box Model *************** */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background-image: url('/images/site/small_check.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%; 
}

body {
  margin: 2rem auto;
  padding: 50px;
  border: 3px solid rgb(116, 173, 214);
  background-color: white;
  max-width: 90%;
  width: 100%;
  min-height: 100vh;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: black;
  font-weight: bold;
}

.siteName a{
  font-size: 30px;
  color: black;
  text-decoration: none;
  margin-bottom: 200px;
}

#tools a{
  color: black;
  text-decoration: none;
  margin-bottom: 200px;
}

#tools a:hover {
  color: blue;
  text-decoration: underline;
}

nav{
  background-color: black;
  color: white;
  margin-top: 25px;
}

nav ul {
  display: flex;
  justify-content:space-around;
  list-style-type: none; 
  padding-left: 0; 
  padding: 10px;
}

nav a{
  gap: 10px;
}

.dolerean-img-container{
  display: flex;
  justify-content:flex-start;
}

.own-today-msg {
  color: navy;
  width: 180px;
  padding: 20px;
  margin: 20px;
  background-color: rgba(247, 250, 251, 0.2);
  background-color: rgba(242, 240, 241, 0.4);
  position: relative;
}

.own-today-msg img{
  width: 110px;
  height: auto;
}

.dolerean img{
  width: 400px;
  height: auto;
  margin-left: -110px;
  margin-bottom: -240px;
}

.dolerean-reviews-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.dolerean-reviews {
  flex: 1 1 45%; 
}

.dolerean-upgrades {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  margin-bottom: 50px; 
}

.dolerean-reviews ul {
  padding: 0;
}

.dolerean-reviews li {
  margin-bottom: 10px;
} 


 figure{
  border: 1px solid black;
  background-color: rgb(28, 85, 151);
  text-align: center;
  width: 120px;
  border-radius: 4px;
 }

 figcaption{
  text-decoration: underline;
 }

.dolerean-reviews {
  line-height: 1.5;
  margin-top: -70px;
}

figure {
  background-color: rgb(124, 180, 233);
  border: 1px solid black;
  text-align: center;
  border-radius: 4px;
}

footer{
  margin-top: 200px;
}

/* ============ Week3 - style for each car  ================= */
/* classification view */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 15px;
  color: white;
}

.nav-item {
  font-size: 18px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  text-decoration: underline;
  color: lightgray;
}

.vehicle-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  list-style: none;
}

.vehicle-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.vehicle-thumbnail {
  width: 100%;
  height: auto;
}

.name-price {
  padding: 15px;
}

.vehicle-title {
  font-size: 20px;
  margin: 10px 0;
}

.vehicle-price {
  margin-left: 20px;
}

/* vehicle detail view */
.vehicle-detail {
  display: flex; 
  justify-content: center; 
  gap: 20px; 
  margin: 20px; 
  align-items: center;
  margin-bottom: 20px;
}

.vehicle-detail-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vehicle-info-wrapper{
  background-color: #f4f3f3;
  padding: 20px;
  margin-top: -20px;
  margin-bottom: 180px;
}

.vehicle-detail-title {
  margin: 10px; 
  margin: 1rem auto;
  gap: 10px; 
}

.vehicle-year-make-model{
  color: #333;
  font-weight: bold;
}

.vehicle-detail-price{
  color: black;
  margin-left: auto;
}

.vehicle-detail-mileage {
  background-color: rgb(216, 206, 206);
  max-width: 100px;
  border-radius: 4px;
  padding: 10px;
  margin-top: 15px
}

.mileage-label {
  font-weight: bold;
  background-color: white;
  font-size: 16px;
}

.mileage-value {
  font-size: 12px;
  margin-left: 5px;
}

.vehicle-detail-description {
  font-size: 1rem;
  margin-top: 10px; 
}


/* -----------------WEEK 4 => login.ejs-------------------- */
#flash-message{
  color: red;
}


@media screen and (max-width: 600px){
  .own-today-msg{
    width: 120px;
    height: auto;
    font-size: 12px;
  }

  .own-today-msg img{
    width: 80px;
    height: auto;
  }

  .dolerean img{
    width: 300px;
    height: auto;
    margin-bottom: -200px;
  }

    .dolerean-reviews-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh; 
    }
  
    .dolerean-upgrades {
      order: 1; 
    }
  
    .dolerean-reviews {
      order: 2;
    }
}

  
