<h1>Inventory Management</h1>
  <% if (messages) { %>
    <div class="flash-message">
      <%= messages %>
    </div>
  <% } %>

  <ul>
    <li><a href="/inv/addClassification">Add New Classification</a></li>
    <li><a href="/inv/addInventory">Add New Inventory</a></li>
  </ul>
